<!DOCTYPE html>
<html lang="en">

<head>
	<script src='scroll.js'> </script>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<link href="https://fonts.googleapis.com/css?family=Lobster&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Indie+Flower&display=swap" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="hamburgers.css">
	<link rel="stylesheet" type="text/css" href="style.css">
	<link rel="icon" href="logo_c.ico">
	<title>Crisweb</title>
</head>

<body>
	<nav class="navbar navbar-expand-md sticky-top" id="navbar_atas">
		<a class="navbar-brand" href="#"><img src="index.png" width=auto height=45vw></a>
		<button class="navbar-toggler hamburger hamburger--elastic" type="button" data-toggle="collapse"
			data-target="#collapsible-navbar">
			<span class="hamburger-box">
				<span class="hamburger-inner"></span>
			</span>
		</button>
		<div class="collapse navbar-collapse" id="collapsible-navbar">
			<ul class="navbar-nav">
				<li class="nav-item">
					<a class="nav-link" href="#About_Us">
						<div>
							About
						</div>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#Menu">
						<div>
							Menu
						</div>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#Contact_Us">
						<div>
							Contact Us
						</div>
					</a>
				</li>
			</ul>
		</div>
	</nav>


	<script>
		// Look for .hamburger
		var hamburger = document.querySelector(".hamburger");
		// On click
		hamburger.addEventListener("click", function () {
			// Toggle class "is-active"
			hamburger.classList.toggle("is-active");
			// Do something else, like open/close menu
		});
	</script>

	<div class="jumbotron" id="maintitle">
		<img class="mx-auto my-auto d-block align-self-center" src=index.png id="logo"></div>
	<div class="container-fluid" id="subtitle">
		<div class="display-4"><strong>Crisbar!</strong></div><br>
		Crisbar merupakan suatu perusahaan start-up yang bergerak di bidang makanan. Makanan yang
		disediakan adalah ayam geprek, dengan berbagai varian rasa, seperti rasa original, sambal matah,
		crispy, crispy bakar, manis, sambal mamah, mozarella, ayam keju, sambal tomat, dan salted egg.
		Selain itu crisbar juga menyediakan add-on berupa tempe, tahu, telor, terong, dan kerupuk. Crisbar
		juga menyediakan free refill untuk es teh manis, sayur lalapan, dan nasi putih. Crisbar didirikan pertama
		kali di Tamansari Festival di Jalan Tamansari no. 71 Lebak Siliwangi. Setelah itu, Crisbar membuka
		cabangnya di Jalan Cisitu Indah No 2C (Pusat), Jalan Ganesha Depan Salman, Dipatiukur (Gerbang UNPAD)
		Jalan Unjani No 245, Jalan Cibogo Bawah No 48, Jalan Sukabirus (Gerbang Masjid), Jalan Jatinangor No 228,
		Gerbang Lama UNPAD, Pujasera Ciseke.
	</div>

	<div class="container-fluid" id="About_Us">
		<div class="display-3 text-center">
			<strong>About Us</strong>
		</div>
	</div>

	<div class="container-fluid" id="content">
		<div class="container">
			<div class="row" id="row">
				<div class="col-sm-6 text-center">
					<img src="filbert.png" width="40%" height="50%">
					<p>
						<h4>Filbert</h4>
					</p>
					<p>My name is Filbert. Don't know me yet?</p>
					<a href="https://www.linkedin.com/in/filbert-320400133/">
						<img src="logo/Linkedin.png" width=50vw height=auto class="logo_pemilik">
					</a>
					<a href="https://www.instagram.com/filbert_id/">
						<img src="logo/instagram.png" width=50vw height=auto class="logo_pemilik">
					</a>
				</div>
				<div class="col-sm-6 text-center">
					<img src="hafid.png" width="40%" height="50%"	>
					<p>
						<h4>Hafizh Ihsanuddin</h4>
					</p>
					<p>My name is Hafizh Ihsanuddin. Don't know me yet?</p>
					<a href="https://www.linkedin.com/in/hafizh-ihsaanuddin-95375012a/">
						<img src="logo/Linkedin.png" width=50vw height=auto class="logo_pemilik">
					</a>
					<a href="https://www.instagram.com/hafizh__i/">
						<img src="logo/instagram.png" width=50vw height=auto class="logo_pemilik">
					</a>
				</div>
			</div>
		</div>
	</div>

	<div class="container-fluid" id="Menu">
		<div class="display-3 text-center" id="Judul">
			<strong>Our Menu</strong>
		</div>
	</div>

	<div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
		<div class="carousel-inner size_carousel">
			<div class="carousel-item active">
				<img src=<%="images/" + menu.imagename[0] %> class="d-block w-100 img-thumbnail" style=" width:100%; height: 500px !important;" alt=<%= menu.nama[i] %>>
				<div class="carousel-caption d-md-block blacked">
					<h5><%= menu.nama[0] %></h5>
					<p> <%= menu.deskripsi[0] %> </p>
				</div>
			</div>
			<% for (var i=1;i<menu.nama.length;i++) { %>
				<div class="carousel-item">
					<img src=<%="images/" + menu.imagename[i] %> class="d-block w-100 img-thumbnail" style=" width:100%; height: 500px !important;" alt=<%= menu.nama[i] %>>
					<div class="carousel-caption d-md-block blacked">
						<h5><%= menu.nama[i] %></h5>
						<p> <%= menu.deskripsi[i] %> </p>
					</div>
				</div>
			<% } %>
		</div>

		<a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
			<span class="carousel-control-prev-icon" aria-hidden="true"></span>
			<span class="sr-only">Previous</span>
		</a>
		<a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
			<span class="carousel-control-next-icon" aria-hidden="true"></span>
			<span class="sr-only">Next</span>
		</a>
	</div>

	<div class="container-fluid" id="Contact_Us">
		<div class="display-3 text-center">
			<strong>Contact Us</strong>
		</div>
	</div>

	<div class="container-fluid" id="content_2">
		<div class="container">
			<div class="row" id="row_2">
				<div class="col">
					<br>
					<p class="font_contact"><a href="tel:+6282121214145" target="_blank"><img src="logo/Telpon.png" width=50vw
								height=auto></a>&nbsp 08212121415</p>
					<p class="font_contact"><a href="https://mail.google.com/mail/u/0/#inbox?compose=CllgCJlDSlBcCdCbWVTnWMdrKkLnNtDPvNSjdGRfRpgBkrBTcQphHpVHkNsHvFwpPtjdjxSMSNB" target="_blank">
					<img src="logo/gmail.png" width=50vw height=auto></a>&nbsp
						geprekcrisbar@gmail.com</p>
					<p class="font_contact"><a href="http://line.me/ti/p/%40geprekcrisbar" target="_blank"><img src="logo/Line.jpg"
								width=50vw height=auto></a>&nbsp @geprekcrisbar</p>
					<p class="font_contact"><a href="https://api.whatsapp.com/send?phone=6282121214145" target="_blank"><img
								src="logo/Whatsapp.png" width=50vw height=auto></a>&nbsp 082121214145</p>
				</div>
			</div>
		</div>
	</div>
	<div class="container-fluid" id="bottom">
		<div class="row justify-content-center">
			<div class="col-sm-6 col-md-4 col-lg-4 text-center">
				<p>CONNECT</p>
			</div>
			<div class="col-sm-6 col-md-4 col-lg-4 text-center">
				<div class="row">
					<div class="col-sm-4 col-md-4 col-lg-4 text-center">
						<a href="https://www.instagram.com/geprekcrisbar/" target="_blank">
							<img src="logo/instagram.png" width=90vw height=auto>
						</a>
					</div>
					<div class="col-sm-4 col-md-4 col-lg-4 text-center">
						<a href="https://www.facebook.com/geprekcrisbar/" target="_blank">
							<img src="logo/Facebook.png" width=90vw height=auto>
						</a>
					</div>
					<div class="col-sm-4 col-md-4 col-lg-4 text-center">
						<a href=" https://www.linkedin.com/company/ayam-geprek-crisbar/" target="_blank">
							<img src="logo/Linkedin.png" width=90vw height=auto>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

</html>